/** colors */
$bg-dark: #262626;
$bg-light: #f5eed5;
$bg-medium: #527a98;
$fg-dark: #262626;
$fg-light: white;
$fg-faded: #686868;

$fg-violet: #50425c;
$fg-lightviolet: #825e6f;
$fg-green: #74b587;
$fg-lightgreen: #d8e6c3;

$link-hover: #527a98;

/** Device sizes */
$screen-xs-min: 0;
$screen-xs-med: 450px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

/** mixins */
@mixin border-radius($radius) {
	-moz-border-radius:$radius;
	-webkit-border-radius:$radius;
	border-radius:$radius;
}

@mixin box-shadow($hShadow, $vShadow, $blur, $color) {
	-moz-box-shadow: $hShadow $vShadow $blur $color;
	-webkit-box-shadow: $hShadow $vShadow $blur $color;
	box-shadow: $hShadow $vShadow $blur $color;
}

@mixin border-left-radius($radius) {
	-webkit-border-top-left-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-radius-topleft:$radius;
	-moz-border-radius-bottomleft: $radius;
	border-top-left-radius: $radius;
	border-bottom-left-radius: $radius;
}

@mixin border-right-radius($radius) {
	-webkit-border-top-right-radius: $radius;
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-topright:$radius;
	-moz-border-radius-bottomright: $radius;
	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-o-transform: rotate($deg);
	-ms-transform: rotate($deg);
	transform: rotate($deg);
}

@mixin user-select($value) {
	-webkit-touch-callout: $value; /* iOS Safari */
	-webkit-user-select: $value;   /* Chrome/Safari/Opera */
	-khtml-user-select: $value;    /* Konqueror */
	-moz-user-select: $value;      /* Firefox */
	-ms-user-select: $value;       /* Internet Explorer/Edge */
  user-select: $value;           /* Non-prefixed version, currently
  not supported by any browser */
}

/** global styles */
body {
	font-family: 'Lato', sans-serif;

	background-color: $bg-light;
	color: $fg-dark;

	.bg-light {
		background-color: $bg-light;
		color: $fg-dark;

		a {
			color: $fg-green;
			&:hover {
				text-decoration: none;
				color: $fg-violet;
			}
		}
	}

	.bg-dark {
		background-color: $bg-dark;
		color: $fg-light;
	}


}

/** footer */
.footer {
	a:hover {
		color: $link-hover;
		text-decoration: none;
	}
}

@media(min-width: $screen-md-min) {
	.phone {
		text-align: right;
	}
}

.footer-socialmedia {
	display: flex;
	justify-content: space-between;
	margin: 1em;
	color: $fg-light;
	a {
		color: white;
	}
}

.disclaimer {
	text-align: center;
	font-size: .8em;
}

/** typography */
h1 {
	font-size: 2.5em;
	color: $fg-violet;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
	line-height: 1.5em;
}
label {
	margin-bottom: 0;
}

/** common elements */
.container {
	position: relative;
	padding: 3em 9em;
}

.row {
	text-align: justify;
}

/** device specific $screen-md-max */
@media(max-width: $screen-md-max) {
	.container {
		padding: 3em 7em;
	} 
}

/** device specific $screen-xs-max */
@media(max-width: $screen-xs-max) {
	.container {
		min-height: 20em;
		padding: 3em 5em;
	}
}

/** navigation */
.navbar {
	border: 0;

	hr {
		color: $bg-light;
		margin: 0;
		opacity: 1;
		transition: opacity 1 ease-in-out;
	}
}

.navbar-default {
	padding: 0;
	.navbar-nav > li > a {
		a, a:hover, a:visited, a:active {
			color: white;
		}
	}
}

.navbar-nav {
	a {
		text-transform: uppercase;
	}
}

.navbar-brand {
	padding: 5px !important;
	img {
		height: 100%;
	}
}

/** storytelling */
.storytelling {
	padding-top: 1em;
	img {
		width: 100%;
	}
}

/** portfolio */
.portfolio-tabs {
	margin-top: 2em;
	li.active a {
		border: 1px solid $fg-green !important;
		border-bottom: none !important;
		background: $fg-lightgreen !important;
		color: $fg-green !important;
	}

	li a:hover {
		background-color: $fg-lightgreen !important;
		color: $fg-green !important;
	}

	border-bottom: 1px solid $fg-lightgreen !important;
}


/** sketchbook */
.sketchbook {
	font-family: 'Shadows Into Light Two', cursive;
	@include user-select(none);
	cursor: default;

	/** --- paper stack effect */
	background: #fff;
	
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	
	margin: 2em 0;
	padding: 2em;
	position: relative;
	z-index: 2;

	min-height: 80vh;
	/*overflow: hidden;*/
	h1 {
		text-align: center;
		font-weight: bold;
		color: $fg-violet;
		&:before {
			content: "* ";
		}
		&:after {
			content:  " *";
		}
	}

	h2 {
		color: $fg-lightviolet;
		text-align: center;
		font-size: 1.5em;
		margin-left: 1em;
		line-height: 2em;
	}

	article {
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		transform: rotate(359deg);
	}

	&:before, &:after {
		/** paper stack effect */
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		background-color: #fff;

		border: 1px solid rgba(0, 0, 0, .15);

		-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	}

	&:before {
		/** paper stack effect */
		z-index: -1;
		top: -2px;
		left: 0;
		@include rotate(-1deg);
	}

	&:after {
		/** paper stack effect */
		z-index: -2;
		top: 1px;
		left: -2px;

		@include rotate(1deg);
	}

	/** --- content */
	p.date {
		color: $fg-faded;
		border-bottom: 1px solid #ddd;
	}

	.visualization {
		text-align: center;
		display: inline-block;
		position: relative;
		margin: 2em 1em;
		-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);

		border: 1px solid $fg-lightgreen;

		img {
			background-color: white;
			margin: 1em 0;
			border: 1px solid #ddd;
			max-width: 95%;
			/*min-height: 100vh;*/
			min-width: 50%;
		}

		&:before {
			/** scotch effect */
			content: '';
			display: block;
			width: 200px;
			max-width: 25vw;

			height: 35px;
			position: relative;
			top: -20px;
			margin: auto;
			background: rgba(216,230,195,.3);
			@include box-shadow(0, 1px, 3px, rgba(0, 0, 0, .4));
		}
	}


}

.portfolio {

	ul.taglist {
		color: $fg-dark;
		border-top: 1px solid #ddd;
		padding-top: .5em;
		
		li {
			color: $fg-green;
			display: inline;
			&:before {
				content: "#";
			}
			&:after {
				content: ", ";
			}
			&:last-child:after {
				content: "";
			}
		}
	}

	p {
		color: $fg-dark;
	}

	a {
		color: $fg-green;
	}

	.carousel-control.left, .carousel-control.right {
		background-image: none;

	}
	.carousel-control.left {
		margin-left: -5em;
	}
	.carousel-control.right {
		margin-right: -5em;
	}
}

@media(max-width: $screen-md-min) {
	.portfolio {
		.carousel-control {
			display: none;
		}
	}
}

.cinema {
	margin: 2em 0;


	.title {
		#date {
			font-size: 0.8em;
			line-height: 25px;
		}

		h1 {
			font-weight: bold;
			font-size: 2.3em;

			line-height: 150%;
			margin-top: 5px;
		}

		color: $fg-dark;
		text-align: center;
		height: 160px;
		padding: 25px;
		
		text-transform: uppercase;
		font-weight: bold;
		
		background-image: url(../img/cinema-title-side.png), url(../img/cinema-title-side.png), url(../img/cinema-title-center.png);
		background-repeat: no-repeat, no-repeat, repeat-x;
		background-size: 20px auto;
		background-position: top left, top right, top left;
	}

}


.cinema-audience {
	height: 15vh;
	background: transparent url(../img/audience.svg) repeat-x bottom;
	background-size: 95vh auto;
}

@media(max-width: $screen-md-min) {
	.cinema-audience {
		background-size: 70vh auto;
	}
}

.cinema-video {
	margin: 2em 0;
}